#
# Taking into account deprecated settings.

CXX ?= $(C++) ;
CXX_FLAGS ?= $(C++ALLFLAGS) ;
CC_FLAGS ?= $(CCALLFLAGS) ;
LD_FLAGS ?= $(LDFLAGS) ;

LINKER ?= $(CXX) ;
LINKER_FLAGS ?= $(C++LDALLFLAGS) ;
DLL_FLAGS ?= $(DLLFLAGS) ;
DLL_SONAME_FLAG ?= $(CC_SONAME_FLAG) ;

# 
# Setting up defaults.

CXX ?= g++ ;
CC ?= gcc ;
LINKER ?= $(CXX) ;
LD ?= ld ;

AR ?= ar -cq ;
MKDIR ?= mkdir -p ;
RMRF ?= rm -rf ;
RMF ?= rm -f ;

DLL_FLAGS ?= -shared ;

CXX_FLAGS ?= $(CCDFLAGS) $(CCOFLAGS) ;
CC_FLAGS ?= $(CCDFLAGS) $(CCOFLAGS) ;

CC_TARGET_NAME_FLAG ?= -o ;
CC_COMPILE_ONLY_FLAG ?= -c ;

LINKER_TARGET_NAME_FLAG ?= $(CC_TARGET_NAME_FLAG) ;

LD_TARGET_NAME_FLAG ?= $(CC_TARGET_NAME_FLAG) ;
LD_RELOC_FLAG ?= -r ;

CXX_TARGET_NAME_FLAG ?= $(CC_TARGET_NAME_FLAG) ;
CXX_COMPILE_ONLY_FLAG ?= $(CC_COMPILE_ONLY_FLAG) ;
