#
# Taking into account deprecated settings.

CXX ?= $(C++) ;
CXX_FLAGS ?= $(C++ALLFLAGS) ;
CC_FLAGS ?= $(CCALLFLAGS) ;
LD_FLAGS ?= $(LDFLAGS) ;

LINKER ?= $(CXX) ;
LINKER_FLAGS ?= $(C++LDALLFLAGS) ;
DLL_FLAGS ?= $(DLLFLAGS) ;
DLL_SONAME_FLAG ?= $(CC_SONAME_FLAG) ;

# 
# Setting up defaults.

CXX ?= g++ ;
CC ?= gcc ;
LINKER ?= $(CXX) ;
LD ?= ld ;

AR ?= ar -cq ;
MKDIR ?= mkdir -p ;
RMRF ?= rm -rf ;
RMF ?= rm -f ;

DLL_FLAGS ?= -shared ;

CC_WARNING_FLAGS ?= -Werror -Wreturn-type ;
CXX_WARNING_FLAGS ?= $(CC_WARNING_FLAGS) ;

CXX_FLAGS ?= $(CXX_WARNING_FLAGS) $(CCDFLAGS) $(CCOFLAGS) ;
CC_FLAGS ?= $(CC_WARNING_FLAGS) $(CCDFLAGS) $(CCOFLAGS) ;


