#
# Taking into account deprecated settings.

CXX ?= $(C++) ;
CXX_FLAGS ?= $(C++ALLFLAGS) ;
CC_FLAGS ?= $(CCALLFLAGS) ;

ECHO ?= echo ;
LINKER ?= $(CXX) ;
LINKER_FLAGS ?= $(C++LDALLFLAGS) ;
DLL_FLAGS ?= $(DLLFLAGS) ;
DLL_SONAME_FLAG ?= $(CC_SONAME_FLAG) ;

# 
# Setting up defaults.

CXX ?= g++ ;
CC ?= gcc ;
LINKER ?= $(CXX) ;

AR ?= ar -cq ;
MKDIR ?= mkdir -p ;
RMRF ?= rm -rf ;
RMF ?= rm -f ;

DLL_FLAGS ?= -shared ;

CXX_FLAGS ?= $(CCDFLAGS) $(CCOFLAGS) ;
CC_FLAGS ?= $(CCDFLAGS) $(CCOFLAGS) ;

CC_TARGET_NAME_FLAG ?= -o ;
CC_COMPILE_ONLY_FLAG ?= -c ;
CC_INCLUDE_FLAG ?= -I ;
CC_DEFINE_FLAG ?= -D ;

LINKER_TARGET_NAME_FLAG ?= $(CC_TARGET_NAME_FLAG) ;
LINKER_LIB_FLAG ?= -l ;
LINKER_LIBDIR_FLAG ?= -L ;
AR_TARGET_NAME_FLAG ?= "" ;

CXX_TARGET_NAME_FLAG ?= $(CC_TARGET_NAME_FLAG) ;
CXX_COMPILE_ONLY_FLAG ?= $(CC_COMPILE_ONLY_FLAG) ;
CXX_INCLUDE_FLAG ?= $(CC_INCLUDE_FLAG) ;
CXX_DEFINE_FLAG ?= $(CC_DEFINE_FLAG) ;
